<div class="container">
  <ul class="tasks" *ngIf='tasks'>
    <li *ngFor='let task of tasks'>
        <span class="text-justify">Id: {{task.id}} Title: {{task.title}}</span><br>
        <span class="text-justify">{{task.description}}</span><br>
        <span class="text-black"> Priority: {{task.priority}}</span><br>
        <a class="btn btn-success" routerLink="/edit/{{task.id}}">Edit</a>
        <button class="btn btn-danger" (click)="deleteTask(task)">Delete</button>
        <div *ngIf="task.done">
          <h3>This task is completed</h3>
        </div>
        <br><br>
    </li>
  </ul>
  <a class="btn btn-success" routerLink="/add">Add task</a>
</div>