<div class="container">
  <ul class="tasks">
    <li *ngFor='let task of tasks'>
        <span>Id:{{task.id}} {{task.title}}</span><br>
        <span>{{task.description}}</span><br>
        <span>Priority: {{task.priority}}</span>
        <a class="btn btn-success" routerLink="/edit/{{task.id}}">Edit</a>
        <button class="btn btn-danger" (click)="deleteTask(task)">Delete</button>
        <div *ngIf="task.done">
          <h3>This task is completed</h3>
        </div>
        <br><br>
    </li>
  </ul>
  <a class="btn btn-success" routerLink="/add">Add task</a>
</div>